:root {
  /* colors */
  --light-blue: #9ADFDF;
  --cream-white: #FFF7E3;
  --sand-yellow: #FFEEB6;
  --coral: #EA7878;
  --sun-yellow: #FCD271;
  --orange: #F78D3F;
  /* font-family's */
  --main-font: 'Montserrat Alternates', sans-serif;
  --script-font: 'Homemade Apple', cursive;
  --sub-font: 'Nunito', sans-serif;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  font-family: var(--main-font);
}

#canvas{
		background-color: var(--light-blue);
    margin: 0;
		width: 100%;
		height: 100%;
    z-index: -1;
}

#container {
  position: relative;
}

#container canvas, #overlay {
  position: fixed;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#menu {
  background-color: var(--cream-white);
  padding: 3vmin;
  text-align: center;
  /* background: linear-gradient(180deg, var(--blue-purple) 80%, var(--dark-purple)); */
}

.menu_items {
  padding: 3vmin;
  color: var(--orange);
  font-size: 2.5vmin;
  text-decoration: none;
}

.menu_items:hover {
  background-color: var(--orange);
  color: var(--cream-white);
}

.content{
  padding: 30vmin;
  background-color: #EA787899;
  margin: 5vmin;
  z-index: 100;
}

#home{
  float: center;
  margin-top:10.5vmin;
  margin-bottom: 20vmin;
  padding: 10vmin;
  width: 90%;
  background: none;
}

#i_am {
  margin: 5vmin;
  margin-right: 0vmin;
  /* font-family: var(--sub-font); */
  font-size: 6vmin;
  width: 70%;
  float: left;
  color: var(--coral);
  background-color: #FFF7E3;
}

.typewrite {
  margin: 5vmin;
  /* font-family: var(--sub-font); */
  font-weight: bold;
  font-size: 6vmin;
  margin-left: 0vmin;
  text-indent: 2vmin;
}

#headshot {
  width: 20%;
  height: 20%;
  border-radius: 100%;
  float: left;
}

#searchIcon {
  width: 3%;
  height: 3%;
  margin: 2%;
  float: right;
  align: center;
}

#progress-container {
  width: 100%;
  height: 1.5vmin;
  background-color: var(--sand-yellow);
}

#progress-bar {
  width: 0;
  height: 1.5vmin;
  background: linear-gradient(80deg, var(--coral) 5%, var(--orange));
}
